@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Welcome to Our Website!

    <p id="welcome">We're delighted to have you here. Explore our website to discover a range of exciting features and resources designed to enhance your experience. Whether you're seeking information, inspiration, or entertainment, we've got you covered!</p>

        <h2>Get Started</h2>

    <p><a href="Home/About">About Us</a>: Learn more about our mission, values, and the team behind the scenes.</p>
    <p><a href="Order/Shop">Products</a>: Browse our latest products and find the perfect solution for your needs.</p>
    <p><a href="Community/Notes">Notes</a>: Explore the services we offer and how they can benefit you or your business.</p>
    <p><a href="Community/News">News</a>: Dive into our blog for insightful articles, tips, and industry updates.</p>
        
        Thank you for visiting, and we hope you enjoy your time here!
    </p>
</div>
