@{
	ViewData["Title"] = "Checkout";
}
@{
    <h1>@ViewData["Title"]</h1>
	
	<div class="checkout">Product ID: @Model.Id</div>
	<div class="checkout">Product Name: @Model.Name</div>
	<div class="checkout">Product Price: @Model.Price UAH</div>
}